{% extends 'base.html.twig' %}

{% block title %}Spécialiste des jeux éducatifs - Playducatif{% endblock %}


{% block body %}
	<section class="container">
	<div id="page-title" class="text-start mb-4">
			<h1>Playducatif - jeux éducatifs pour les énfants du 0 à 14 ans</h1>
		</div>

		<div class="img-fluid img-responsive  my-4">
			<img class="img-fluid img-responsive" src="{{ asset('ressources/images/banner-homepage-eg.jpg') }}" alt="banner" >
		</div>

		{# <div id="by-age-decoration">
			<div class="nav justify-content-around">
				<div class="border rounded-top">
					<a class="nav-link" href="#">0-3 ans</a>
				</div>
				<div class="border rounded-top">
					<a class="nav-link" href="#">4-6 ans</a>
				</div>
				<div class="border rounded-top">
					<a class="nav-link" href="#">7-10 ans</a>
				</div>
				<div class="border rounded-top">
					<a class="nav-link " href="#">11-14 ans</a>
				</div>
			</div>
		</div> #}

		{# 
		{{ dump() }}; 
		#}

		<div id="categories" class="my-4">
			<h2>Découvrez tous nos catégories des jeux éducatifs</h2>
		</div>
		<div id="cat-homepage" class="row row-cols-1 row-cols-md-4 g-4">
			{% for category in categories %}
				<div class="col">
					<div class="card h-100">
						<img src="{{ asset("ressources/images/" ~ category.photo) }}" class="card-img-top" alt="category image">
						<div class="card-body">
							<h3 class="card-title">{{ category.name }}</h3>
							<a href="{{ path('categories_list', {slug:category.slug} )}}" class="btn btn-info">Voir les produits</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
</section>
{% endblock %}
