{% extends "base.html.twig" %}

{% block title %}Liste des produits
{% endblock %}

{% block body %}
	{# {{ dump() }} #}

{# afficher la liste des produits de cette categorie #}
	<main class="container">
    
            <div class="my-4">
                <h1>Nos produits de la catégorie
					{{ category.name}}
				</h1>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in category.products %}
                <div class="col">
                    <div class="card h-100">
                    {% if product.getImages() is not null and product.getImages() is not empty %}
                        {% for img in product.getImages() [:1]  %}
                            <img src="{{ asset("ressources/images/" ~ img.path) }}" class="card-img-top" alt="category image">
                        {% endfor %}
                    {% else %}
                        <img src="{{ asset("ressources/images/350x350.png") }}" class="card-img-top" alt="category image">
                    {% endif %}
                        <div class="card-body">
                            <h2 class="card-title">{{ product.name }}</h2>
                            <p class="card-text">{{ product.description | raw }}</p>
                            <a href="{{ path('products')}}/{{ product.name | slug }}/{{ product.id }}" class="btn btn-info">Voir les détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
			</section>
		</main>
	{% endblock %}
